extends ../layout

block content
  .page-header
    h3= title
        .row
      .col-md-12.blog-page
        .row
          .col-md-12.article-block
            h3= blogRecord.title
            .blog-tag-data
              img.img-responsive(src='../../assets/admin/pages/media/gallery/item_img.jpg', alt='')
              .row
                .col-md-6
                  ul.list-inline.blog-tags
                    li
                      i.fa.fa-tags
                      a(href='javascript:;')
                        | Technology
                      a(href='javascript:;')
                        | Education
                      a(href='javascript:;')
                        | Internet
                .col-md-6.blog-tag-data-inner
                  ul.list-inline
                    li
                      i.fa.fa-calendar
                      a(href='javascript:;')
                        | April 16, 2013
                    li
                      i.fa.fa-comments
                      a(href='javascript:;')
                        | 38 Comments
            // end news-tag-data
            div
              p= blogRecord.description
                
            hr
            .media
              h3 Comments
              a.pull-left(href='javascript:;')
                img.media-object(alt='', src='/img/screen7.jpg')
              .media-body
                h4.media-heading
                  | Media heading 
                  span
                    | 5 hours ago / 
                    a(href='javascript:;')
                      | Reply
                p
                  | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                hr
                // Nested media object
                .media
                  a.pull-left(href='javascript:;')
                    img.media-object(alt='', src='/img/screen7.jpg')
                  .media-body
                    h4.media-heading
                      | Media heading 
                      span
                        | 17 hours ago / 
                        a(href='javascript:;')
                          | Reply
                    p
                      | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                // end media
                hr
                .media
                  a.pull-left(href='javascript:;')
                    img.media-object(alt='', src='/img/screen7.jpg')
                  .media-body
                    h4.media-heading
                      | Media heading 
                      span
                        | 2 days ago / 
                        a(href='javascript:;')
                          | Reply
                    p
                      | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                // end media
            // end media
            .media
              a.pull-left(href='javascript:;')
                img.media-object(alt='', src='/img/screen7.jpg')
              .media-body
                h4.media-heading
                  | Media heading 
                  span
                    | July 5,2013 / 
                    a(href='javascript:;')
                      | Reply
                p
                  | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            // end media
            hr
            .post-comment
              h3 Leave a Comment
              form(role='form', action='#')
                .form-group
                  label.control-label
                    | Name 
                    span.required
                      | *
                  input.form-control(type='text')
                .form-group
                  label.control-label
                    | Email 
                    span.required
                      | *
                  input.form-control(type='text')
                .form-group
                  label.control-label
                    | Message 
                    span.required
                      | *
                  textarea.col-md-10.form-control(rows='8')
                button.margin-top-20.btn.blue(type='submit') Post a Comment
          // end col-md-9
          